<label class="inline-block pb-1 font-semibold">Regular</label>
<PowerSelect
  @selected={{this.destination}}
  @options={{this.cities}}
  @onChange={{fn this.setField "destination"}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">Small</label>
<PowerSelect
  @triggerClass="ember-power-select-trigger-sm"
  @selected={{this.selectedName}}
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  @allowClear={{true}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">Large</label>
<PowerSelect
  @triggerClass="ember-power-select-trigger-lg"
  @selected={{this.selectedName}}
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  @allowClear={{true}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">With @allowClear</label>
<PowerSelect
  @selected={{this.selectedName}}
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  @allowClear={{true}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">With @placeholder</label>
<PowerSelect
  @selected={{this.selectedName}}
  @placeholder="Select one item"
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">Disabled</label>
<PowerSelect
  @selected={{this.selectedName}}
  @disabled={{true}}
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  as |name|
>
  {{name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">With Search</label>
<PowerSelect
  @searchEnabled={{true}}
  @options={{this.countries}}
  @selected={{this.country}}
  @searchField="name"
  @onChange={{fn this.setField "country"}}
  as |country|
>
  {{country.name}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">With Groups</label>
<PowerSelect
  @options={{this.groupedNumbers}}
  @selected={{this.number}}
  @onChange={{fn this.setField "number"}}
  as |num|
>
  {{num}}
</PowerSelect>

<label class="inline-block pb-1 mt-4 font-semibold">Multiple Select</label>
<PowerSelectMultiple
  @searchEnabled={{true}}
  @options={{this.names}}
  @selected={{this.selectedNames}}
  @placeholder="Select some names..."
  @onChange={{fn this.setField "selectedNames"}}
  as |name|
>
  {{name}}
</PowerSelectMultiple>

<label class="inline-block pb-1 mt-4 font-semibold">With Error</label>
<PowerSelect
  @ariaInvalid="true"
  @selected={{this.selectedName}}
  @options={{this.names}}
  @onChange={{fn this.setField "selectedName"}}
  as |name|
>
  {{name}}
</PowerSelect>
